.login-container {

  min-height: 100vh;

  background: black;

  display: flex;

  justify-content: center;

  align-items: center;

}

.login-card {

  width: 500px;

  padding: 50px;

  background: black;

  border-radius: 20px;

  color: white;

}

.login-card h1 {

  text-align: center;

  margin-bottom: 40px;

}

.login-card form {

  display: flex;

  flex-direction: column;

  gap: 22px;

}

.login-card input {

  padding: 16px;

  border-radius: 1.5rem;

  border: 1px solid #444;

  background: black;

  color: white;

  font-size: 16px;

}

.login-card input:focus {

  outline: none;

  border-color: #777;

}

.login-button {

  margin-top: 20px;

  display: flex;

  justify-content: center;

}